body{
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
    padding: 0;
}
p{
    padding: 0px;
    margin: 0px;
}
h1{
    margin: 0;
    padding: 0;
}
h2{
    margin: 0;
    padding: 0;
}
/* Header */
#background-header{
    background-image: url("./assets/backgrounds/mountain.jpg");
    width: 100%;
    background-size: cover;
    height: 90vh;
    position: relative;
}
#container-nomes{
    color: white;
    text-align: center;
    position: absolute;
    display: inline-block;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size:xx-large;
}

/* Navegador */
nav{
    font-family: 'Lato', sans-serif;
    background-color: #0E243B;
    height: 8vh;
    width: 100%;
    padding-top: 10px;
    position: sticky;
    top:0;
    
}
nav ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
nav li {
    display: inline-block;
    margin: auto;
    margin-left: 5%;
    margin-right: 5%;
    padding: 15px
}
nav a{
    text-decoration: none;
    color: white;
}

/* Setor da Foto e Sobre */
#mid-lane-container{
    display: flex;
    padding: 40px;
    width: 100;
    justify-content: center;
    background-color:#122D4A;
}
#image{
    background-image: url("./assets/icons/perfil-sem-foto.png");
    height: 300px;
    width: 250px;
    margin-right: 10%;
    background-size: 250px 300px; 
}
#sobre{
    color:white;
    font-family: 'Fira Sans', sans-serif;
    text-align: left;
    width: 400px;
}

/* Setor dos Projetos */
#projetos{
font-family: 'Fira Sans', sans-serif;
text-align: center;
background-color:#0E243B;
padding: 20px;
width: 100;

}
.project-square{
    display: inline-block;
    background-color: gray;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 5%;
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

/* Footer */
footer{
    padding: 20px;
    background-color: #122D4A;
    color: white;
    text-align: left;
}
footer ul{
    list-style: none;
}
footer li{
    color: #A4BABF;
    margin-bottom: 20px;
}
footer a {
    color: white;
}
footer h1{
    padding:20px;
}
#background{
    background-color: #122D4A;
    text-align: center;
    color: white;
}

