<div class="center mt-5">
    <div class="titulo">
        <h1 class="display-1"><strong>Bem vindo ao<br> Web Site Generator</strong></h1>
    </div>
    <div class="texto mt-5 alert alert-primary">
        <h5>Crie agora a sua própria página pessoal com <br> nome, profissão e contatos para apresentar <br>
            as outras empresas um resumo do seu perfil <br> e alavancar seus resultados.</h5>
    </div>
    {{#if user}}
    <a href="/usuarios/meusite/{{user.usuario}}/edit"><button class="btn1 btn btn-primary mt-5">Editar meu site</button></a>
    <a href="/usuarios/todos"><button class="btn btn-primary mt-5">Ver todos os sites</button></a>
    {{else}}
    <a href="/usuarios/registro"><button class="btn1 btn btn-primary mt-5">Registro</button></a>
    <a href="/usuarios/login"><button class="btn btn-primary mt-5">Login</button></a>
    {{/if}}
</div>


<style>
    .texto {
        margin: auto;
        width: 30%;
    }

    .btn1 {
        margin-right: 30px;
    }

    .btn {
        width: 150px;

        height: 75px;
        border-radius: 10px;
    }

    .center {
        display: block;
        text-align: center;
    }

    @media screen and (max-width: 750px) {
        .texto {
            width: 80%;
        }
    }
</style>