body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #D7D8E9;
}
p{
    margin: 0;
    padding: 0;
    font-size: 15px;
}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: whitesmoke;
    padding: 15px;
    border-radius: 15px; 
    color: dodgerblue;
    width: 20%;
}
fieldset{
    border: 3px solid dodgerblue;
    border-radius: 10px;
}
legend{
    color: white;
    border: 1px solid dodgerblue;
    padding: 10px;
    text-align: center;
    background-color: dodgerblue;
    border-radius: 8px;
}
.inputBox{
    position: relative;
}
.inputUser{
    background: none;
    border: none;
    border-bottom:  1px solid #1e90ff;
    outline: none;
    color: black;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}
.labelInput{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: 5px;
}
.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{
    top:-20px;
    font-size: 12px;
    color: dodgerblue;
}
#submit{
    background-color: #1e90ff;
    width: 100%;
    border: none ;
    padding: 15px;
    color: white;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}
textarea{
    border: 1px solid dodgerblue;
    background-color: whitesmoke;
    resize: none;
    width: 99%;
}
textarea:focus{
    border: 1px solid #1A7BDB;
    
}
#imagem{

    display: none;
}
#imagemLabel{
    position: relative;
    background-color: dodgerblue;
    border-radius: 10px;
    font-size: 15px;
    padding: 15px;
    color: white;
    width: 100%;
}