
body{
    font-family: "Lato", Helvetica, sans-serif;
    background-color: #D7D8E9;
    font-size: 20px;
}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: whitesmoke;
    padding: 15px;
    border-radius: 15px; 
    color: dodgerblue;
    width: 40%;
}

fieldset{ 
    border: 3px solid dodgerblue;
    border-radius: 10px;
}

#buttonBox{
 text-align: center;
}

button{
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    border: none;
    background-color: rgb(4, 201, 4);
    padding: 20px;
}
button:hover{
    cursor: pointer;
    background-color: greenyellow;
}