<div class="container mt-4">

    <div class="card">

        <div class="card-body">
            <h3>Fazendo login</h3>
            <form method="post" action="/usuarios/loginPost">
                {{!-- Usuario --}}
                <div class="form-group mt-3">
                    <label for="nome">Email</label>
                    <input type="text" class="form-control" id="email" name="email" placeholder="Email">
                </div>
                {{!-- Senha --}}
                <div class="form-group mt-3">
                    <label for="senha">Sua senha</label>
                    <input type="password" class="form-control" id="senha" name="senha" placeholder="Sua senha">
                </div>

                <button type="submit" class="btn btn-primary mt-3">Login</button>
            </form>
        </div>
    </div>
</div>