<div class="container mt-4">

    <div class="card">

        <div class="card-body">
            <h3>Fazendo registro</h3>
            <form method="post" action="/usuarios/registroPost">
                {{!-- Nome --}}
                <div class="form-group mt-3">
                    <label for="nome">Nome</label>
                    <input type="text" class="form-control" id="nome" name="nome" placeholder="Insira seu nome">
                </div>
                {{!-- Usuario --}}
                <div class="form-group mt-3">
                    <label for="nome">Usuario</label>
                    <input type="text" class="form-control" id="nome" name="nome" placeholder="Sera usado como parte do site!">
                </div>
                {{!-- Email --}}
                <div class="form-group mt-3">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Insira seu email">
                </div>
                {{!-- Profissao --}}
                <div class="form-group mt-3">
                    <label for="profissao">Sua profissão</label>
                    <input type="text" class="form-control" id="profissao" name="profissao"
                        placeholder="Insira sua profissão">
                </div>
                {{!-- Linkedin --}}
                <div class="form-group mt-3">
                    <label for="linkedin">Seu Linkedin</label>
                    <input type="text" class="form-control" id="linkedin" name="linkedin"
                        placeholder="Insira seu linkedin">
                </div>
                {{!-- Github --}}
                <div class="form-group mt-3">
                    <label for="github">Seu Github</label>
                    <input type="text" class="form-control" id="github" name="github" placeholder="Insira seu Github">
                </div>
                {{!-- Sobre Mim --}}
                <div class="form-group mt-3">
                    <label for="sobre">Sobre você </label>
                    <textarea class="form-control" id="sobre" name="sobreMim" rows="1"
                        placeholder="Fale em 1 linha sobre você ou seu trabalho"></textarea>
                </div>
                {{!-- Sobre o Trabalho --}}
                <div class="form-group mt-3">
                    <label for="sobre">Sobre seu trabalho </label>
                    <textarea class="form-control" id="sobre" name="sobreTrabalho" rows="1"
                        placeholder="Fale em 1 linha sobre você ou seu trabalho"></textarea>
                </div>
                {{!-- Senha --}}
                <div class="form-group mt-3">
                    <label for="senha">Sua senha</label>
                    <input type="password" class="form-control" id="senha" name="senha" placeholder="Sua senha">
                </div>

                <button type="submit" class="btn btn-primary mt-3">Registrar</button>
            </form>
        </div>
    </div>
</div>